@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Playfair+Display:ital,wght@0,700;1,400&display=swap");
/*reset*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  position: relative;
  text-decoration: none;
  color: var(--colorLink);
}

li {
  list-style: none;
}

/*variable*/
:root {
  --colorFont:rgba(79, 79, 79, 1);
  --colorSponn: rgba(242, 153, 74, 1);
  --colorBg:rgba(250, 250, 250, 1);
  --colorFoot:rgba(169, 169, 169, 1);
  --colorLink:rgba(189, 189, 189, 1);
}

/*fonts*/
body {
  color: var(--colorFont);
}

footer {
  color: var(--colorFoot);
}

.title h1 {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: black;
}

.content_title p {
  font-family: 'Montserrat',sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.ingredients h3 {
  font-family: 'Playfair Display',sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.ingredients .h4_secend {
  font-size: 18px;
  line-height: 24px;
}

.ingredients h4 {
  font-family: 'Playfair Display',sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 22px;
}

.ingredients ul {
  font-family: 'Montserrat',sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
}

.time_cook {
  font-family: 'Montserrat',sans-serif;
  font-weight: 700;
  font-size: 8px;
  line-height: 10px;
  color: #bdbdbd;
}

.time_cook .time {
  font-size: 10px;
  color: #333333;
  font-weight: 500;
}

.time_cook .time_spoon {
  color: var(--colorSponn);
}

.Instructions h3 {
  font-family: 'Playfair Display',sans-serif;
  font-weight: 700px;
  font-size: 24px;
  line-height: 32px;
}

.Instructions ul p {
  font-family: 'Montserrat',sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.link {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  font-style: italic;
  font-family: 'Montserrat',sans-serif;
}

footer {
  font-family: 'Montserrat',sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

/*basic style*/
body {
  background-color: var(--colorBg);
  height: 100vh;
  width: 100vw;
}

.time_cook {
  position: relative;
}

.time_cook i {
  font-size: 14px;
  color: #4f4f4f;
}

.time_cook .knife {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.time_cook .knife .knife_box {
  width: 14px;
  height: 14px;
}

.time_cook .knife .knife_img {
  height: 100%;
}

.Instructions .number {
  position: relative;
}

.Instructions span {
  position: absolute;
  background-color: var(--colorSponn);
  height: 36px;
  width: 36px;
  padding: 2px 12px 10px 12px;
  border-radius: 6px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Playfair Display',sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Instructions li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .one,
main .two {
  position: relative;
}

main .one li,
main .two li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .one p,
main .two p {
  margin-left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

main .one input[type="checkbox"],
main .two input[type="checkbox"] {
  position: absolute;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  outline: none;
  height: 21px;
  width: 21px;
  border-radius: 4px;
  border: 1px solid #828282;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

main .one input[type="checkbox"]::before,
main .two input[type="checkbox"]::before {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  content: '\f00c';
  font-size: 10px;
  color: white;
}

main .one input[type="checkbox"]:checked,
main .two input[type="checkbox"]:checked {
  background-color: chartreuse;
  border: none;
}

main .one input[type="checkbox"]:checked::before,
main .two input[type="checkbox"]:checked::before {
  display: block;
}

.circle {
  margin-left: 12px;
  margin-right: 12px;
  width: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circle .line_one,
.circle .line_two {
  position: absolute;
  background: #c4c4c4;
  width: 3px;
  height: 3px;
  border-radius: 50%;
}

.circle .line_one {
  margin-top: 5px;
  top: 0;
}

.circle .line_two {
  top: 0;
  margin-top: 10px;
}

.circle .line_one::after,
.circle .line_one::before,
.circle .line_two::after,
.circle .line_two::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #c4c4c4;
}

.circle .line_one::after {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

.circle .line_one::before {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.circle .line_two::after {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

.circle .line_two::before {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

/*mobile style*/
header .title {
  margin-left: 11px;
  padding-top: 32px;
  margin-right: 41px;
  margin-bottom: 12px;
}

header .content_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .content_title p {
  padding-left: 2px;
  margin-right: 12px;
  margin-bottom: 12px;
}

header .content_title .circle {
  margin-left: 12px;
}

.box_img {
  height: 214px;
}

.box_img img {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  padding: 12px 12px;
}

main .time_cook {
  margin-left: 13px;
  margin-top: 24px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  row-gap: 21px;
}

main .time_cook .knife_box {
  margin-right: 6px;
}

main .time_cook i {
  margin-right: 6px;
}

main .time_cook .prep_time, main .time_cook .cook_time, main .time_cook .total_time, main .time_cook .knife {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  line-height: 13px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .time_cook .prep_time {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
}

main .time_cook .cook_time {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
}

main .time_cook .total_time {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  grid-row: 2;
}

main .ingredients h3 {
  margin-top: 30px;
  margin-left: 12px;
}

main .ingredients h4 {
  margin-top: 13px;
  margin-left: 12px;
  margin-bottom: 24px;
}

main .ingredients .h4_secend {
  margin-top: 39px;
  margin-left: 12px;
}

main .ingredients lilast-child {
  font-style: italic;
}

main .ingredients .one,
main .ingredients .two {
  margin-left: 13px;
  margin-right: 35px;
}

main .ingredients .one p,
main .ingredients .two p {
  padding-left: 8px;
}

main .Instructions h3 {
  margin-top: 32px;
  margin-left: 12px;
  margin-bottom: 28px;
}

main .Instructions .number span {
  margin-left: 12px;
  margin-right: 15px;
}

main .Instructions .number p {
  margin-bottom: 35px;
  margin-right: 15px;
  padding-right: 30px;
}

section {
  margin-top: 26px;
  margin-left: 12px;
  position: relative;
}

footer p {
  margin-top: 70px;
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

/*laptop style*/
@media screen and (min-width: 1200px) {
  body {
    overflow-x: hidden;
  }
  header .title {
    margin-left: 236px;
    margin-top: 49px;
  }
  header .title h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
  }
  header .content_title .circle {
    margin-left: 220px;
  }
  header .content_title p {
    font-size: 15px;
    font-weight: 500;
    line-height: 17px;
    margin-right: 587px;
  }
  .box_img {
    height: 470px;
    width: 969px;
    margin-left: 234px;
    margin-top: -12px;
    border-radius: 12px;
  }
  .box_img img {
    padding-top: 26px;
    height: 100%;
    width: 100%;
  }
  .content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto 1fr;
        grid-template-rows: auto 1fr;
  }
  .content .time_cook {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
    margin-right: 240px;
    margin-left: 240px;
    padding-left: 43px;
    width: 216px;
    height: 367px;
    border-radius: 12px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  }
  .content .time_cook .knife, .content .time_cook .prep_time, .content .time_cook .cook_time {
    margin-bottom: 30px;
  }
  .content .time_cook .knife {
    margin-top: 57px;
  }
  .content .time_cook .total_time {
    margin-bottom: 50px;
  }
  .content .time_cook .knife_box {
    height: 26px;
    width: 26px;
  }
  .content .time_cook .knife_box .knife_img {
    height: 100%;
    margin-right: 14px;
  }
  .content .time_cook span {
    font-size: 10px;
  }
  .content .time_cook .time {
    font-size: 14px;
  }
  .content .time_cook i {
    font-size: 26px;
    margin-right: 14px;
  }
  .content .ingredients {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    margin-left: 236px;
    margin-top: 48px;
  }
  .content .ingredients h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
  }
  .content .ingredients h4, .content .ingredients .h4_secend {
    margin-top: 32px;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 32px;
  }
  .content .ingredients p {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
  }
  .content .Instructions {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    grid-row: 2;
    margin-top: 30px;
    margin-left: 236px;
  }
  .content .Instructions h3 {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
  }
  .content .Instructions p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }
  .link {
    position: relative;
    margin-left: 236px;
    margin-top: 57px;
    font-size: 20px;
    line-height: 24px;
  }
  .link .border {
    position: absolute;
    left: 0;
    top: 100%;
    width: 0;
    height: 4px;
    background: var(--colorSponn);
    background: -webkit-gradient(linear, left top, right top, from(transparent), to(var(--colorSponn)));
    background: linear-gradient(90deg, transparent, var(--colorSponn));
    -webkit-transition: width .3s;
    transition: width .3s;
  }
  .link a {
    color: #828282;
  }
  .link a:hover .border {
    width: 100%;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 17px;
    margin-top: 100px;
  }
  footer p {
    font-size: 20px;
    line-height: 17px;
    font-weight: 700px;
  }
}
/*# sourceMappingURL=style.css.map */